.product{
    margin-left: 30px;
}
.img{
    width: 250px;
    height: 300px;
}
.price{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: -10px;
}
.old{
    text-decoration: line-through;
}
.des{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
.title{
    font-size: 18px;
    font-weight: 500;
    color: blue;
}
.new{
    color: blue;
}
.box{
    width: 180px;
    height: 50px;
    background: blue;
    color: white;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -3px;
}